<section class="login p-fixed d-flex text-center bg-primary">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" [formGroup]="resetPasswordForm" novalidate>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">¿Has olvidado tu contraseña? </h3>
                  <h3 class="text-left">No te preocupes.</h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">Volver a la página <a [routerLink]="['/auth/login']">Iniciar Sesión.</a></p>
              
              <div *ngIf="!showForm">
                <p class="text-center mt-4" style="color: black;">
                  Revisa tu correo y sigue las instrucciones para restablecer tu contraseña.
                </p>
              </div>

              <ng-container *ngIf="isLoading">
                <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
              </ng-container>
              
              <ng-container *ngIf="showForm && !isLoading">
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="email" [(ngModel)]="email" placeholder="ejemplo@mail.com" [ngClass]="resetPasswordForm.get('email').invalid && this.resetPasswordForm.get('email').touched ?
                  'is-invalid' : this.resetPasswordForm.get('email').untouched ? '' : 'is-valid' ">
                  <span class="md-line"></span>
                </div>

                <div class="col-lg-12 error-box">
                  <div *ngIf="formErrors.email" class="text-danger">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.email }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button type="button" #resetPasswordButton [disabled]="!resetPasswordForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="resetPassword()">Restablecer contraseña</button>
                  </div>
                </div>
              </ng-container>
              <div class="row">
                <div class="col-xs-12 col-md-10">
                  <p class="text-inverse text-left m-b-0">¡Gracias! por utilizar el sistema de Administración de Documentos Electrónicos.</p>
                  <p class="text-inverse text-left"><b>Atentamente BAT Solutions SPA.</b></p>
                </div>
                <div class="col-xs-12 col-md-2">
                  <img src="assets/images/logos/logo_bats.png" alt="logo-bat" width="70px" height="50px">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>