<app-modal-basic #modal [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="billing-title modal-title">Presupuesto</h4>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body" id="detalle-presupuesto">
    <ng-container *ngIf="!isLoading">

      <img src="./assets/images/logos/{{ empresa.url_img }}" width="85px" height="85px" alt="">

      <h1 class="text-center text-primary pb-5">Presupuesto</h1>

      <div class="mb-2 pb-2">
        <table>
          <tbody>
            <tr>
              <td><strong>Fecha:</strong> {{ date | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pb-3" style="overflow-x: scroll;">

        <table class="table table-sm table-striped">
          <tbody>
            <tr>
              <td class="text-left" colspan="1">
                <strong>Empresa:</strong>
              </td>
              <td class="text-left" colspan="5">
                {{ empresa.razon_social }}</td>
            </tr>
            <tr>
              <td class="text-left" colspan="1">
                <strong>Cliente:</strong>
              </td>
              <td class="text-left" colspan="5">{{ presupuesto.cliente_rut + ' ' + presupuesto.cliente_razon_social + '
                ' +
                presupuesto.cliente_nombre_contacto }}</td>
            </tr>
            <tr>
              <td class="text-left">
                <strong>Número:</strong>
              </td>
              <td class="text-left">{{ presupuesto.id }}</td>
              <td class="text-left">
                <strong>Fecha:</strong>
              </td>
              <td class="text-left">{{ presupuesto.created_at | date:'dd-MM-yyyy' }}</td>
              <td class="text-left">
                <strong>Teléfono:</strong>
              </td>
              <td class="text-left">{{ presupuesto.cliente_telefono }}</td>
            </tr>
            <tr>
              <td class="text-left">
                <strong>Email:</strong>
              </td>
              <td class="text-left">{{ presupuesto.email }}</td>
              <td class="text-left">
                <strong>Fecha expiración:</strong>
              </td>
              <!-- <td class="text-left" colspan="3">{{ presupuesto.descripcion }}</td> -->
              <td class="text-left" colspan="3">{{ presupuesto.fecha_expiracion | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pb-3" style="overflow-x: scroll;">
        <table class="table table-sm table-striped">
          <thead>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Unidades</th>
            <th>Sub Total</th>
          </thead>
          <tbody>
            <tr *ngFor="let dp of presupuesto.detalles_presupuesto">
              <td>{{ dp.descripcion_articulo }}</td>
              <td>${{ dp.precio | thousands }}</td>
              <td>{{ dp.unidades }}</td>
              <td>${{ (dp.precio * dp.unidades) | thousands }}</td>
            </tr>
            <tr>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left"><strong>Sub Total</strong></td>
              <td class="text-left">${{ presupuesto.sub_total | thousands }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left"><strong>IVA</strong></td>
              <td class="text-left">${{ presupuesto.iva | thousands }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left"><strong>Total</strong> </td>
              <td class="text-left">${{ presupuesto.total | thousands }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-container>
    <div class="display-flex align-center flex-column" width="100%" *ngIf="isLoading">
      <ng-container *ngIf="isLoading">
        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
      </ng-container>
    </div>
  </div>
  <div class="app-modal-footer d-flex justify-content-start">
    <button class="btn btn-success float-xs-left" (click)="exportarPDF()">Exportar PDF</button>
  </div>
</app-modal-basic>
