<app-modal-basic #modal [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="billing-title modal-title">Factura</h4>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body" id="detalle-factura">
    <ng-container *ngIf="!isLoading">

      <img src="./assets/images/logos/{{ empresa.url_img }}" width="85px" height="85px" alt="">

      <h1 class="text-center text-primary pb-5">Detalle Factura</h1>

      <div class="mb-2 pb-2">
        <table>
          <tbody>
            <tr>
              <td><strong>Fecha:</strong> {{ date | date:'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pb-3" style="overflow-x: scroll;">

        <table class="table table-sm table-striped">
          <tbody>
            <tr>
              <td class="text-left" colspan="1">
                <strong>Cliente:</strong>
              </td>
              <td class="text-left" colspan="5">{{ factura.rut + ' ' + factura.razon_social + ' ' +
                factura.nombre_contacto }}</td>
            </tr>
            <tr>
              <td class="text-left">
                <strong>Número:</strong>
              </td>
              <td class="text-left">{{ factura.numero }}</td>
              <td class="text-left">
                <strong>Fecha:</strong>
              </td>
              <td class="text-left">{{ factura.fecha | date:'dd-MM-yyyy' }}</td>
              <td class="text-left">
                <strong>Teléfono:</strong>
              </td>
              <td class="text-left">{{ factura.telefono }}</td>
            </tr>
            <tr>
              <td class="text-left">
                <strong>Email:</strong>
              </td>
              <td class="text-left">{{ factura.email }}</td>
              <td class="text-left">
                <strong>Descripción:</strong>
              </td>
              <td class="text-left" colspan="3">{{ factura.descripcion }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pb-3" style="overflow-x: scroll;">
        <table class="table table-sm table-striped">
          <thead>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Unidades</th>
            <th>Sub Total</th>
          </thead>
          <tbody>
            <tr *ngFor="let df of factura.detalles_factura">
              <td>{{ df.descripcion_articulo }}</td>
              <td>${{ df.precio | thousands }}</td>
              <td>{{ df.unidades }}</td>
              <td>${{ (df.precio * df.unidades) | thousands }}</td>
            </tr>
            <tr>
              <td colspan="4"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left"><strong>Sub Total</strong></td>
              <td class="text-left">${{ factura.sub_total | thousands }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left"><strong>IVA</strong></td>
              <td class="text-left">${{ factura.iva | thousands }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left"><strong>Total</strong> </td>
              <td class="text-left">${{ factura.total | thousands }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-container>
    <div class="display-flex align-center flex-column" width="100%" *ngIf="isLoading">
      <ng-container *ngIf="isLoading">
        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
      </ng-container>
    </div>
  </div>
  <div class="app-modal-footer d-flex justify-content-start">
    <button class="btn btn-success float-xs-left" (click)="exportarPDF()">Exportar PDF</button>
  </div>
</app-modal-basic>
