<div>
  <img src="./assets/images/logos/{{ empresa.url_img || 'image.png' }}" alt="logo" width="85px" height="85px">
  <h1 class="text-center mb-4 text-primary">Artículos</h1>

  <span>
    <strong>Fecha:</strong> {{ date | date:'dd-MM-yyyy' }}</span>
  <br>
  <span>
    <strong>Usuario:</strong> {{ usuario.nombre + ' ' + usuario.apellidos }}</span>

  <br>
  <div class="mt-5 mb-5" style="overflow-x: scroll;">
    <table class="table table-sm">
      <thead>
        <th>Descripción</th>
        <th>Proveedor</th>
        <th>Precio de Compra</th>
        <th>Precio de Venta</th>
        <th>Stock</th>
      </thead>
      <tbody>
        <tr *ngFor="let a of articulos">
          <td>{{ a.descripcion }}</td>
          <td>{{ a.proveedor.razon_social }}</td>
          <td>${{ a.precio_de_compra }}</td>
          <td>${{ a.precio_de_venta }}</td>
          <td>{{ a.stock }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
