<div>
  <!-- <canvas id="canvas"></canvas> -->
  <img src="./assets/images/logos/{{ empresa.url_img ? empresa.url_img : 'image.png' }}" alt="logo" width="85px" height="85px">
  <h1 class="text-center mb-4 text-primary">Clientes</h1>

  <span><strong>Fecha:</strong> {{ date | date:'dd-MM-yyyy' }}</span> <br>
  <span><strong>Usuario:</strong> {{ usuario.nombre + ' ' + usuario.apellidos }}</span> <br>

  <mat-table [dataSource]="dataSourceClientesModal">

    <ng-container matColumnDef="rut">
      <mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.rut }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="razon_social">
      <mat-header-cell *matHeaderCellDef> Razón Social </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.razon_social }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre_contacto">
      <mat-header-cell *matHeaderCellDef> Contacto </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.nombre_contacto }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ element.direccion }}">
          {{ element.direccion | slice:0:10 }}...
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.telefono }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsClientesModal"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsClientesModal;" style="border-color: #f8f8f8;"></mat-row>

  </mat-table>

  <ng-container *ngIf="dataSourceClientesModal.data.length == 0">
    <div class="table-body-empty mb4">
      <i class="far fa-thumbs-down"></i>
      <div class="text-center">No se han encontrado Clientes.
        <br>Agregue clientes para generar un reporte.</div>
    </div>
  </ng-container>

  <!-- <mat-paginator #paginatorReporteClientesModal [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator> -->

</div>