<div *ngIf="showDetalle" id="reporte-detalle" style="display: none;">
    <h1 class="text-center mb-4 text-primary">Detalle Factura</h1>

    <table class="table table-sm">
        <tbody>
            <tr>
                <td>Cliente:</td>
                <td>{{ factura.rut + ' ' + factura.razon_social + ' ' + factura.nombre_contacto }}</td>
                <td>Número:</td>
                <td>{{ factura.numero }}</td>
            </tr>
            <tr>
                <td>Fecha:</td>
                <td>{{ factura.fecha }}</td>
                <td>Teléfono:</td>
                <td>{{ factura.telefono }}</td>
            </tr>
            <tr>
                <td>Descripción</td>
                <td>{{ factura.descripcion }}</td>
                <td>Email</td>
                <td>{{ factura.email }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-sm">
        <thead>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Unidades</th>
            <th>Sub Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let df of factura.detalles_factura">
                <td>{{ df.descripcion_articulo }}</td>
                <td>${{ df.precio | thousands }}</td>
                <td>{{ df.unidades }}</td>
                <td>${{ (df.precio * df.unidades) | thousands }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-sm">
        <tbody>
            <tr>
                <td class="text-left">Sub Total</td>
                <td>${{ factura.sub_total | thousands }}</td>
            </tr>
            <tr>
                <td class="text-left">IVA</td>
                <td>${{ factura.iva | thousands }}</td>
            </tr>
            <tr>
                <td class="text-left">Total</td>
                <td>${{ factura.total | thousands }}</td>
            </tr>
        </tbody>
    </table>
</div>
