<div class="container-fluid">
  <img src="./assets/images/logos/{{ empresa.url_img }}" alt="logo" width="85px" height="85px">

  <h1 class="text-center mb-4 text-primary">Facturas Proveedor</h1>

  <table class="mb-2">
    <tr>
      <td class="text-left">
        <strong>Fecha:</strong>
      </td>
      <td class="text-left">{{ date | date:'dd-MM-yyyy'}}</td>
    </tr>
    <tr>
      <td class="text-left">
        <strong>Generado Por:</strong>
      </td>
      <td class="text-left">{{ usuario.nombre + ' ' + usuario.apellidos }}</td>
    </tr>
    <tr>
      <td class="text-left">
        <strong>Proveedor:</strong>
      </td>
      <td class="text-left">{{ proveedor.razon_social }}</td>
    </tr>
    <tr>
      <td class="text-left">
        <strong>Rut:</strong>
      </td>
      <td class="text-left">{{ proveedor.rut }}</td>
    </tr>
    <tr>
      <td class="text-left">
        <strong>Fecha Desde:</strong>
      </td>
      <td class="text-left">{{ fechaDesde | date:'dd-MM-yyyy' }}</td>
    </tr>
    <tr>
      <td class="text-left">
        <strong>Fecha Hasta:</strong>
      </td>
      <td class="text-left">{{ fechaHasta | date:'dd-MM-yyyy' }}</td>
    </tr>
  </table>

  <mat-table #tableFacturasProveedor [dataSource]="dataSourceFacturasProveedor">

    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.numero}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.fecha | date:'dd-MM-yyyy' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="proveedor">
      <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ row.razon_social }}">
          {{ row.razon_social | slice:0:10 }}...
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rut">
      <mat-header-cell *matHeaderCellDef> RUT </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.rut }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let row"> ${{ row.total | thousands }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nula">
      <mat-header-cell *matHeaderCellDef class="text-center"> ¿Anulada? </mat-header-cell>
      <mat-cell *matCellDef="let row" class="text-center">
        <label class="label label-badge" [ngClass]="{ 'label-danger': row.nula == 1, 'label-success': row.nula == 0 }">
          {{ row.nula == 0 ? 'No' : 'Si' }}
        </label>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="dataColumnsFacturasProveedor"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataColumnsFacturasProveedor;" style="border-color: #f8f8f8;"></mat-row>

  </mat-table>
</div>