<div class="row">
  <div class="col-12 col-md-6">
    <app-card class="card" [title]="'Mantención de Permisos'" [classHeader]="true" [showToggle]="false">
      <div class="card-body">
        <form novalidate [formGroup]="permisosForm">
          <div class="row">
            <div class="col-12">

              <div class="form-group">
                <label>Empresa</label>
                <select class="custom-select" class="form-control" [(ngModel)]="empresa" formControlName="empresa"
                  [ngClass]="permisosForm.get('empresa').invalid && this.permisosForm.get('empresa').touched ?
                                  'is-invalid' : this.permisosForm.get('empresa').untouched ? '' : 'is-valid'"
                  (change)="loadAccesses()">
                  <option [ngValue]="0">Selecciona una Empresa</option>
                  <option *ngFor="let e of empresas" [ngValue]="e.id">
                    {{ e.razon_social }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label>Rol</label>
                <select class="custom-select" class="form-control" [(ngModel)]="rol" formControlName="rol" [ngClass]="permisosForm.get('rol').invalid && this.permisosForm.get('rol').touched ?
                                  'is-invalid' : this.permisosForm.get('rol').untouched ? '' : 'is-valid'"
                  (change)="loadAccesses()">
                  <option [ngValue]="0">Selecciona un Rol</option>
                  <option *ngFor="let e of roles" [ngValue]="e.id">
                    {{ e.name }}
                  </option>
                </select>
              </div>

            </div>

          </div>
        </form>
      </div>
    </app-card>
  </div>
  <div class="col-12 col-md-6">
    <app-card class="card" [title]="'Módulos'" [classHeader]="true" [showToggle]="false">
      <div class="row">
        <div class="col-12">
          <mat-table #tablePermisos [dataSource]="dataSourcePermisos">


            <ng-container matColumnDef="modulo">
              <mat-header-cell *matHeaderCellDef> Módulo </mat-header-cell>
              <mat-cell *matCellDef="let element" class="text-capitalize">
                {{ element.menu_parent != null ? (element.menu == null ? element.menu_parent.name : '- ' +
                element.menu_parent.name) : element.menu.name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="text-center">
                Asignar Permiso
              </mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-center">
                <mat-checkbox (click)="$event.stopPropagation(); updateAccess(row);" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" class=""></mat-checkbox>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="dataColumnsPermisos"></mat-header-row>
            <mat-row *matRowDef="let row; columns: dataColumnsPermisos;" style="border-color: #f8f8f8;"></mat-row>

          </mat-table>

          <ng-container *ngIf="isLoading">
            <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
          </ng-container>

          <div class="col-12" *ngIf="!isLoading && dataSourcePermisos.data.length == 0">
            <p class="text-center mt-4">
              No se han encontrado Módulos.
            </p>
          </div>

          <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5]" [showFirstLastButtons]="true"></mat-paginator>
        </div>
      </div>
    </app-card>
  </div>
</div>