<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-12 col-md-6">
        <a href="javascript:" [ngClass]="showFormState ? 'btn btn-outline-primary' : 'btn btn-primary'" (click)="showAll()">
          Mostrar Todas
        </a>
        <a href="javascript:" [ngClass]="showFormState ? 'btn btn-primary' : 'btn btn-outline-primary'" *ngIf="showNuevaNota" (click)="cancel()">
          Nueva
        </a>
      </div>
      <div *ngIf="!showFormState" class="col-12 col-md-6">
        <mat-form-field class="float-right">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Nota de Crédito">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<!-- MOSTRAR TODAS -->
<div *ngIf="!showFormState">
  <!-- GRILLA -->
  <section class="col-12 border-billing">
    <div class="row mb-2 mt-5">
      <!-- BOTON MODAL ARTICULOS -->
      <div class="col-md-12">
        <section class="p3 display-flex justify-between align-center">
          <h5>Listado Notas de Crédito</h5>
        </section>
      </div>
    </div>
    <div class="row">

      <ng-container *ngIf="isLoading">
        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
      </ng-container>

      <!-- GRILLA ARTICULOS -->
      <section *ngIf="!isLoading" class="col-md-12 mb-2">

        <mat-table #tableNotasCredito [dataSource]="dataSourceNotasCredito">

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label class="label label-info label-lg">{{element.numero}}</label>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="empresa">
            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.factura.empresa.razon_social}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="factura">
            <mat-header-cell *matHeaderCellDef> Factura </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ 'N° ' + element.factura.numero + ' | ' + (element.factura.tipo_factura
              == 1 ? 'COMPRA' : 'VENTA') + ' | ' + element.factura.rut }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="text-center"> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-center">
              <a href="javascript:" (click)="searchNotaById(element)" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top"
                title="" data-original-title="Editar">
                <i class="icofont icofont-ui-edit"></i>
              </a>
              <a href="javascript:" (click)="deleteNotaCredito(element)" class="text-muted" data-toggle="tooltip" data-placement="top"
                title="" data-original-title="Eliminar">
                <i class="icofont icofont-delete-alt"></i>
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsNotasCredito"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsNotasCredito;" style="border-color: #f8f8f8;"></mat-row>

        </mat-table>

        <div *ngIf="getCountNotas() == 0" class="text-center mt-4">
          <p>
            No se han encontrado notas de crédito. <br>
            <a href="javascript:" (click)="cancel()" *ngIf="showNuevaNota">Crear nota de crédito</a>
          </p>
        </div>

        <mat-paginator #paginatorNotaCredito [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
      </section>
    </div>
  </section>
</div>
<div class="row" *ngIf="showFormState">
  <section class="col-12 border-billing">
    <!-- FORMULARIO -->
    <form class="mt-5" novalidate (ngSubmit)="onSubmit()" [formGroup]="notasForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripción </label>
            <input type="text" maxlength="100" class="form-control" [(ngModel)]="notaDeCredito.descripcion" formControlName="descripcion"
              [ngClass]="notasForm.get('descripcion').invalid && this.notasForm.get('descripcion').touched ?
                                                    'is-invalid' : this.notasForm.get('descripcion').untouched ? '' : 'is-valid' "
              id="descripcion" placeholder="">
            <div class="mt2 error-box" *ngIf="formErrors.descripcion">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.descripcion }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="numFactura">Número</label>
                <input *ngIf="!isUpdate" onlyNumbers type="number" min="0" required class="form-control" [(ngModel)]="notaDeCredito.numero"
                  formControlName="numero" [ngClass]="this.notasForm.get('numero').invalid && this.notasForm.get('numero').touched ?
                                    'is-invalid' : this.notasForm.get('numero').untouched ? '' : 'is-valid' " id="numFactura">
                <input *ngIf="isUpdate" disabled required [(ngModel)]="notaDeCredito.numero" formControlName="numero" type="number" class="form-control">
                <div class="mt2 error-box" *ngIf="formErrors.numero">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.numero }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="form-group">
                <label for="fecha">Fecha</label>
                <input type="date" class="form-control" [ngModel]="notaDeCredito.fecha" (ngModelChange)="notaDeCredito.fecha = $event" formControlName="fecha"
                  [ngClass]="notasForm.get('fecha').invalid && this.notasForm.get('fecha').touched ?
                                          'is-invalid' : this.notasForm.get('fecha').untouched ? '' : 'is-valid' " id="fecha"
                  placeholder="">
                <div class="mt2 error-box" *ngIf="formErrors.fecha">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.fecha }}
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group" [hidden]="isUpdate">
                <label for="numeroFactura">N° Factura a Anular</label>
                <div class="input-group">
                  <input onClick="this.select();" type="number" min="0" onlyNumbers maxlength="100" class="form-control" [(ngModel)]="txtFactura"
                    formControlName="numeroFactura" [ngClass]="notasForm.get('numeroFactura').invalid && this.notasForm.get('numeroFactura').touched ?
                                        'is-invalid' : this.notasForm.get('numeroFactura').untouched ? '' : 'is-valid' "
                    id="numeroFactura" placeholder="N° Factura a buscar">
                  &nbsp;&nbsp;
                  <div class="input-group-append">
                    <input type="button" [disabled]="!txtFactura" (click)="LoadAllFacturasByNumber()" title="Buscar Factura" class="btn form.control btn-primary input-group-text" value="Buscar">
                  </div>
                </div>
                <div class="mt2 error-box" *ngIf="formErrors.numeroFactura">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.numeroFactura }}
                </div>
              </div>
              <div *ngIf="isUpdate" class="error-box mt5 text-center">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Solo puedes actualizar la fecha y la descripción.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <!-- DETALLE FACTURAS ENCONTRADAS -->
  <section class="col-12 border-billing">
    <section *ngIf="(facturasEncontradas.length > 0)">
      <div class="row mt-5 mb-2">
        <!-- BOTON MODAL ARTICULOS -->
        <div class="col-md-12">
          <section class="p3">
            <h5>Selecciona una factura para Anular</h5>
          </section>
        </div>
      </div>
      <div class="row">
        <section class="col-md-12 mt-5 mb-2">

          <ng-container *ngIf="isLoadingSearch">
            <mat-spinner class="mx-auto mt-2 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
          </ng-container>

          <div *ngIf="!isLoadingSearch">
            <div *ngIf="getCountFactura() != 0; else showGrid">
              <table class="table table-hover" style="font-size: 0.8rem">
                <thead>
                  <tr>
                    <th scope="col">Anular</th>
                    <th scope="col">Número</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Entidad</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">I.V.A.</th>
                    <th scope="col">Total</th>
                    <th scope="col">¿Anulada?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let f of facturasEncontradas">
                    <td class="text-center">
                      <input class="form-check-input" [disabled]="f.nula == 1 ? true : false" type="radio" name="anularFactura" (change)="sendAnularFactura($event, f.id)">
                    </td>
                    <td>{{ f.numero }}</td>
                    <td>{{ f.tipo_factura == 1 ? 'Venta': 'Compra' }}</td>
                    <td>{{ f.fecha | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ f.razon_social }}</td>
                    <td>$ {{ f.subTotal }}</td>
                    <td>{{ this.articuloService.formatDecimalToCLP(f.iva) }}</td>
                    <td>$ {{ f.total | thousands }}</td>
                    <td>{{ f.nula ? 'Si': 'No' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #showGrid>
              <div class="table-body-empty mb4">
                <i class="far fa-thumbs-down"></i>
                <div class="text-center">No existen facturas con el número {{ txtFactura }}.</div>
              </div>
            </ng-template>
          </div>
        </section>
      </div>
    </section>
    <!-- BOTONES SUBMIT -->
    <section class="col-md-12 mt-3 mb-2 display-flex justify-center align-center text-center">
      <button #buttonSubmitUpdate *ngIf="isUpdate" type="button" title="Actualizar" (click)="onUpdate()" [disabled]="!notasForm.valid"
        class="btn btn-success mb-4">Actualizar Nota de Crédito</button>
      <button #buttonSubmit *ngIf="!isUpdate" type="button" title="Guardar" (click)="onSubmit()" [disabled]="!notasForm.valid || notaDeCredito.id_factura == null"
        class="btn btn-success mb-4">Generar Nota de Crédito</button>
      <button type="button" title="Cancelar" (click)="cancelFromButton()" class="btn btn-outline-secondary mb-4">Cancelar</button>
    </section>
  </section>
</div>
