<div class="row">
    <div class="col-12">
        <app-card class="card" [title]="'Mantención de Artículos'" [classHeader]="true" [showToggle]="false">
            <div *ngIf="havePermission" class="card-header">
                <div class="display-flex justify-between form-title">
                    <a href="javascript:" class="show-form-btn" (click)="show()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                        Crear Artículo
                    </a>
                    <button type="button" title="Limpiar Formulario" (click)="cleanForm()" [hidden]="articulo.descripcion == null" class="clean-form-btn btn btn-link">
                        <i class="fa fa-paint-brush" aria-hidden="true"></i> Limpiar
                    </button>
                </div>
            </div>

            <!-- DATATABLE -->
            <section class="card-body mt-4 sm-scroll">
                <div>
                    <mat-table #table [dataSource]="dataSourceArticulos" class="sm-inline-table">

                        <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.codigo }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ element.descripcion }}">
                                    {{ element.descripcion | slice:0:10 }}...
                                </span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="razon_social">
                            <mat-header-cell *matHeaderCellDef> Razón Social </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.proveedor.razon_social }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="precio_de_compra">
                            <mat-header-cell *matHeaderCellDef> Precio Compra </mat-header-cell>
                            <mat-cell *matCellDef="let element">${{ element.precio_de_compra | thousands }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="precio_de_venta">
                            <mat-header-cell *matHeaderCellDef> Precio Venta </mat-header-cell>
                            <mat-cell *matCellDef="let element">${{ element.precio_de_venta | thousands }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="stock">
                            <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.stock | thousands }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef class="text-center"> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center">

                                <a href="javascript:" (click)="fillFormForEdit(element.id)" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top"
                                    title="" data-original-title="Editar">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a href="javascript:" (click)="deleteArticulo(element.id)" class="text-muted" data-toggle="tooltip" data-placement="top"
                                    title="" data-original-title="Eliminar">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="columnsArticulos"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnsArticulos" style="border-color: #f8f8f8;"></mat-row>

                    </mat-table>

                    <ng-container *ngIf="isLoading">
                        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
                    </ng-container>

                    <mat-paginator #paginatorArticulos [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </section>
        </app-card>
    </div>
</div>

<app-modal-basic #modal [dialogClass]="'modal-lg'">

    <div class="app-modal-header">
        <h4 class="show-form-btn">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ !isUpdate ? 'Crear' : 'Actualizar' }} Artículo
            <button type="button" title="Limpiar Formulario" (click)="cleanForm()" [hidden]="articulo.descripcion == null" class="clean-form-btn btn btn-link">
                <i class="fa fa-paint-brush" aria-hidden="true"></i> Limpiar
            </button>
        </h4>
        <button type="button" class="close basic-close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="app-modal-body">
        <!-- TITULO -->
        <section *ngIf="showFormTitle && this.usuario.id_rol != 3" class="mb5">
            <!-- FORMULARIO -->
            <div>
                <form class="col-lg-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="articulosForm">
                    <div class="mt2 mb2 mxauto col-lg-12">
                        <div class="row">
                            <!-- DESCRIPCION -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Descripción</label>
                                    <input placeholder="Descripción del Artículo" required maxlength="100" [ngClass]="articulosForm.get('descripcion').invalid && this.articulosForm.get('descripcion').touched ?
                                                'is-invalid' : this.articulosForm.get('descripcion').untouched ? '' : 'is-valid' "
                                        [(ngModel)]="articulo.descripcion" formControlName="descripcion" type="text" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.descripcion">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.descripcion
                                        }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Código</label>
                                    <input placeholder="Código artículo" maxlength="100" [ngClass]="articulosForm.get('codigo').invalid && this.articulosForm.get('codigo').touched ?
                                            'is-invalid' : this.articulosForm.get('codigo').untouched ? '' : 'is-valid' "
                                        [(ngModel)]="articulo.codigo" formControlName="codigo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- PROVEEDOR -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="col-form-label">Proveedor</label>
                                    <select class="custom-select" class="form-control" [(ngModel)]="articulo.id_proveedor" formControlName="proveedor" [ngClass]="articulosForm.get('proveedor').invalid && this.articulosForm.get('proveedor').touched ?
                                                'is-invalid' : this.articulosForm.get('proveedor').untouched ? '' : 'is-valid' ">
                                        <option [ngValue]="null">Selecciona un Proveedor</option>
                                        <option *ngFor="let p of proveedores" value="{{ p.id }}" [selected]="p.id == articulo.id_proveedor">
                                            {{ p.rut }} - {{ p.razon_social }}
                                        </option>
                                    </select>
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.proveedor">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.proveedor
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- PRECIO COMPRA -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="col-form-label">Precio de Compra</label>
                                    <input onClick="this.select();" min="0" placeholder="$" [ngClass]="articulosForm.get('precio_de_compra').invalid && this.articulosForm.get('precio_de_compra').touched ?
                                                'is-invalid' : this.articulosForm.get('precio_de_compra').untouched ? '' : 'is-valid' "
                                        required [(ngModel)]="articulo.precio_de_compra" formControlName="precio_de_compra" type="number"
                                        class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.precio_de_compra">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.precio_de_compra
                                        }}
                                    </div>
                                </div>
                            </div>
                            <!-- PRECIO VENTA -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="col-form-label">Precio de Venta</label>
                                    <input onClick="this.select();" min="0" [ngClass]="articulosForm.get('precio_de_venta').invalid && this.articulosForm.get('precio_de_venta').touched ?
                                                'is-invalid' : this.articulosForm.get('precio_de_venta').untouched ? '' : 'is-valid' "
                                        placeholder="$" required [(ngModel)]="articulo.precio_de_venta" formControlName="precio_de_venta"
                                        type="number" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.precio_de_venta">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.precio_de_venta
                                        }}
                                    </div>
                                </div>
                            </div>
                            <!-- STOCK -->
                            <div class="col-lg-4 mxauto">
                                <div class="form-group">
                                    <label class="col-form-label">Stock</label>
                                    <input onClick="this.select();" min="0" [ngClass]="articulosForm.get('stock').invalid && this.articulosForm.get('stock').touched ?
                                                'is-invalid' : this.articulosForm.get('stock').untouched ? '' : 'is-valid' "
                                        required placeholder="Cantidad Stock" [(ngModel)]="articulo.stock" formControlName="stock"
                                        type="number" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.stock">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.stock }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 m-t-5">
                                <button #buttonSubmit [disabled]="!articulosForm.valid" title="Guardar" type="submit" class="save-btn btn btn-outline-success btn-block">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

</app-modal-basic>