<div class="row">
    <div class="col-12">
        <app-card class="card" [title]="'Mantención de Clientes'" [classHeader]="true" [showToggle]="false">
            <div *ngIf="havePermission" class="card-header">
                <div class="display-flex justify-between form-title">
                    <a href="javascript:" class="show-form-btn" (click)="show()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Crear Cliente
                    </a>
                </div>
            </div>

            <section class="card-body mt4">
                <div>

                    <mat-table #table [dataSource]="dataSourceClientes">

                        <ng-container matColumnDef="rut">
                            <mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.rut }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="razon_social">
                            <mat-header-cell *matHeaderCellDef> Razón Social </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.razon_social }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nombre_contacto">
                            <mat-header-cell *matHeaderCellDef> Nombre Contacto </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.nombre_contacto }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="empresa">
                            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.empresa.razon_social }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef class="text-center"> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center">

                                <a href="javascript:" (click)="fillFormForEdit(element.id)" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top"
                                    title="" data-original-title="Editar">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a href="javascript:" (click)="deleteCliente(element.id)" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Eliminar">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="columnsClientes"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnsClientes" style="border-color: #f8f8f8;"></mat-row>

                    </mat-table>

                    <ng-container *ngIf="isLoading">
                        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
                    </ng-container>

                    <mat-paginator #paginatorClientes [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>

                </div>
            </section>
        </app-card>
    </div>
</div>

<app-modal-basic #modal [dialogClass]="'modal-lg'">

    <div class="app-modal-header">
        <div class="modal-title">
            <h4 class="show-form-btn">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ !isUpdate ? 'Crear' : 'Actualizar' }} Cliente
                <button type="button" title="Limpiar Formulario" (click)="cleanForm()" [hidden]="cliente.razon_social == null" class="clean-form-btn btn btn-link">
                    <i class="fa fa-paint-brush" aria-hidden="true"></i> Limpiar
                </button>
            </h4>
            <button type="button" class="close basic-close" (click)="hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div class="app-modal-body">
        <!-- FORMULARIO CREACION USUARIOS -->
        <section *ngIf="this.showFormTitle && this.usuario.id_rol != 3" class="mb5">
            <div>
                <form class="col-lg-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="clientesForm">
                    <div class="mt2 mb2 mxauto ">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Rut</label>
                                    <input *ngIf="!isUpdate" placeholder="12345678-5" formatRut required maxlength="10" [(ngModel)]="cliente.rut" [ngClass]="clientesForm.get('rut').invalid && this.clientesForm.get('rut').touched ?
                                            'is-invalid' : this.clientesForm.get('rut').untouched ? '' : 'is-valid' " formControlName="rut"
                                        type="text" class="form-control">
                                    <input *ngIf="isUpdate" formatRut disabled required [(ngModel)]="cliente.rut" formControlName="rut" type="text" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.rut">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.rut }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Razon Social / Nombre</label>
                                    <input required maxlength="300" [(ngModel)]="cliente.razon_social" [ngClass]="clientesForm.get('razon_social').invalid && this.clientesForm.get('razon_social').touched ?
                                            'is-invalid' : this.clientesForm.get('razon_social').untouched ? '' : 'is-valid' "
                                        formControlName="razon_social" type="text" class="form-control text-capitalize">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.razon_social">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.razon_social
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="display-flex justify-between align-center">
                                        <label class="col-form-label">Nombre del Contacto </label>
                                        <small class="text-muted">Opcional</small>
                                    </div>
                                    <input maxlength="200" [(ngModel)]="cliente.nombre_contacto" [ngClass]="clientesForm.get('contacto').invalid && this.clientesForm.get('contacto').touched ?
                                                'is-invalid' : this.clientesForm.get('contacto').untouched ? '' : 'is-valid' "
                                        formControlName="contacto" type="text" class="form-control text-capitalize">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.contacto">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.contacto
                                        }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Dirección</label>
                                    <input required maxlength="200" [(ngModel)]="cliente.direccion" [ngClass]="clientesForm.get('direccion').invalid && this.clientesForm.get('direccion').touched ?
                                            'is-invalid' : this.clientesForm.get('direccion').untouched ? '' : 'is-valid' "
                                        formControlName="direccion" type="text" class="form-control text-capitalize">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.direccion">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.direccion
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Teléfono</label>
                                    <input required placeholder="+569 " [(ngModel)]="cliente.telefono" [ngClass]="clientesForm.get('telefono').invalid && this.clientesForm.get('telefono').touched ?
                                            'is-invalid' : this.clientesForm.get('telefono').untouched ? '' : 'is-valid' "
                                        formControlName="telefono" type="tel" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.telefono">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.telefono
                                        }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Email</label>
                                    <input required maxlength="100" [(ngModel)]="cliente.email" [ngClass]="clientesForm.get('email').invalid && this.clientesForm.get('email').touched ?
                                            'is-invalid' : this.clientesForm.get('email').untouched ? '' : 'is-valid' "
                                        formControlName="email" type="email" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.email">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >

                            <div class="col-lg-6" *ngIf="usuario.id_rol == 1">
                                <div class="form-group">
                                    <label class="col-form-label">Empresa</label>
                                    <select class="form-control text-capitalize" formControlName="id_empresa" [ngClass]="this.clientesForm.get('id_empresa').invalid && this.clientesForm.get('id_empresa').touched ?
                                          'is-invalid' : this.clientesForm.get('id_empresa').untouched ? '' : 'is-valid'"
                                        [(ngModel)]="cliente.id_empresa" (change)="onChangeEmpresa($event.target.value)">
                                        <option *ngFor="let emp of empresas" value="{{ emp.id }}" [selected]="emp.id == cliente.id_empresa">{{
                                            emp.razon_social + ' - ' + emp.rut }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Giro</label>
                                    <input required maxlength="300" [(ngModel)]="cliente.giro" [ngClass]="clientesForm.get('giro').invalid && this.clientesForm.get('giro').touched ?
                                            'is-invalid' : this.clientesForm.get('giro').untouched ? '' : 'is-valid' "
                                        formControlName="giro" type="text" class="form-control text-capitalize">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.giro">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.giro
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 m-t-5">
                                <button #buttonSubmit [disabled]="!clientesForm.valid" title="Guardar" type="submit" class="save-btn btn btn-outline-success btn-block">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

</app-modal-basic>
