<div class="row">
  <div class="col-12 col-md-4" *ngIf="usuario.id_rol == 1">
    <app-card class="card" [title]="'Filtro'" [classHeader]="true" [showToggle]="false">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="empresa">Empresa</label>
            <select class="form-control" [(ngModel)]="empresa.id" (change)="getEmpresa()" name="empresa" id="empresa">
              <option [ngValue]="null" [selected]="true">Seleccionar Empresa</option>
              <option *ngFor="let e of empresas" value="{{ e.id }}">{{ e.razon_social }}</option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <input type="button" class="btn btn-success btn-block" value="Buscar" name="buscar" id="buscar" (click)="searchClientesByEmpresa()">
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-12" [ngClass]="{'col-md-8': usuario.id_rol == 1}">
    <app-card class="card" [title]="'Clientes'" [classHeader]="true" [showToggle]="false">
      <mat-table [dataSource]="dataSourceClientes">

        <ng-container matColumnDef="rut">
          <mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.rut }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="razon_social">
          <mat-header-cell *matHeaderCellDef> Razón Social </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.razon_social }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre_contacto">
          <mat-header-cell *matHeaderCellDef> Contacto </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.nombre_contacto }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ element.direccion }}">
              {{ element.direccion | slice:0:10 }}...
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.telefono }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsClientes"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsClientes;" style="border-color: #f8f8f8;"></mat-row>

      </mat-table>

      <div class="display-flex align-center flex-column text-center" width="100%" *ngIf="isLoading">
        <ng-container *ngIf="isLoading">
          <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
        </ng-container>
      </div>

      <ng-container *ngIf="showAlertNotFound">
        <div class="table-body-empty mb4">
          <i class="far fa-thumbs-down"></i>
          <div class="text-center">No se han encontrado Clientes.
            <br>Agregue clientes para generar un reporte.</div>
        </div>
      </ng-container>

      <mat-paginator #paginatorReporteClientes [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
      <div class="card-footer">
        <button class="btn btn-success" (click)="exportExcel()" #btnExportExcel>
          <i class="fa fa-file-excel"></i> Exportar Excel</button>
        <button class="btn btn-success" (click)="modalPdf.show()" #btnExportPdf>
          <i class="fa fa-file-pdf"></i> Exportar PDF</button>
      </div>
    </app-card>
  </div>
</div>

<app-modal-basic #modalPdf [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">
      <button (click)="descargarPdf()" class="btn btn-success btn-sm">
        <i class="fa fa-file-pdf"></i> Descargar PDF</button>
    </h4>
    <button type="button" class="close basic-close" (click)="modalPdf.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body" id="reporte" #reporte *ngIf="dataSourceClientes.data.length > 0">
    <app-template-reporte-clientes [empresa]="empresa" [usuario]="usuario" [clientes]="dataSourceClientes"></app-template-reporte-clientes>
  </div>
</app-modal-basic>