<div class="row">
  <div class="col-12 col-md-4">
    <app-card class="card" [title]="'Filtro'" [classHeader]="true" [showToggle]="false">
      <div class="col-12">
        <div class="col-md-12">

          <form novalidate [formGroup]="facturasClienteForm" (ngSubmit)="getReporteFacturasByCliente()">

            <div class="row">

              <div class="col-12">
                <div class="form-group">
                  <ng-container *ngIf="usuario.id_rol == 1">
                    <label for="empresa">Empresa:</label>
                    <select class="form-control" [(ngModel)]="empresa.id" name="empresa" #empresa (change)="getClientesByEmpresa()"
                      [ngClass]="facturasClienteForm.get('empresa').invalid && this.facturasClienteForm.get('empresa').touched ? 'is-invalid' : this.facturasClienteForm.get('empresa').untouched
                              ? '' : 'is-valid' "
                      formControlName="empresa">
                      <option value="0" [selected]="true">Seleccionar Empresa</option>
                      <option *ngFor="let e of empresas" value="{{ e.id }}">{{ e.razon_social }}</option>
                    </select>
                    <div class="mt2 error-box" *ngIf="formErrors.empresa">
                      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                      {{ formErrors.empresa }}
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="cliente">Cliente:</label>
                  <ng-select [options]="clientesOptions" [(ngModel)]="cliente.rut" (ngModelChange)="getCliente()" name="clientes"
                    id="clientes" [ngClass]="facturasClienteForm.get('cliente').invalid && this.facturasClienteForm.get('cliente').touched ? 'is-invalid'
                        : this.facturasClienteForm.get('cliente').untouched ? '' : 'is-valid' "
                    formControlName="cliente">
                  </ng-select>

                  <div class="mt2 error-box" *ngIf="formErrors.cliente">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{ formErrors.cliente }}
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="fechaDesde">Fecha desde:</label>
                  <input type="date" class="form-control" name="fechaDesde" id="fechaDesde" [(ngModel)]="fechaDesde"
                    required [ngClass]="facturasClienteForm.get('fechaDesde').invalid && this.facturasClienteForm.get('fechaDesde').touched ?
                            'is-invalid' : this.facturasClienteForm.get('fechaDesde').untouched ? '' : 'is-valid' "
                    formControlName="fechaDesde">
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="fechaHasta">Fecha hasta:</label>
                  <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" [(ngModel)]="fechaHasta"
                    required [ngClass]="facturasClienteForm.get('fechaHasta').invalid && this.facturasClienteForm.get('fechaHasta').touched
                            ? 'is-invalid' : this.facturasClienteForm.get('fechaHasta').untouched ? '' : 'is-valid' "
                    formControlName="fechaHasta">
                </div>
              </div>

              <div class="col-12">
                <input type="submit" class="btn btn-primary btn-block" value="BUSCAR" [disabled]="!facturasClienteForm.valid">
              </div>

            </div>
          </form>

        </div>
      </div>
    </app-card>
  </div>

  <div class="col-12 col-md-8">
    <app-card class="card" [title]="'Facturas'" [classHeader]="true" [showToggle]="false">
      <div class="card-body">

        <mat-table #tableFacturasCliente [dataSource]="dataSourceFacturasCliente">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" class="">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.numero}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.fecha | date:'dd-MM-yyyy' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cliente">
            <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ row.razon_social }}">
                {{ row.razon_social | slice:0:10 }}...
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let row"> ${{ row.total | thousands }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nula">
            <mat-header-cell *matHeaderCellDef class="text-center"> ¿Anulada? </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <label class="label label-badge" [ngClass]="{ 'label-danger': row.nula == 1, 'label-success': row.nula == 0 }">
                {{ row.nula == 0 ? 'No' : 'Si' }}
              </label>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" class="btn btn-success btn-sm" (click)="showDetalleFactura(row.id)">Ver Detalle</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="dataColumnsFacturasCliente"></mat-header-row>
          <mat-row *matRowDef="let row; columns: dataColumnsFacturasCliente;" style="border-color: #f8f8f8;"></mat-row>

        </mat-table>

        <div class="display-flex align-center flex-column" width="100%" *ngIf="isLoading">
          <ng-container *ngIf="isLoading">
            <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
          </ng-container>
        </div>

        <div *ngIf="dataSourceFacturasCliente.data.length == 0 && !isLoading" class="text-center mt-4">
          <p>
            No se han encontrado facturas.
          </p>
        </div>

        <mat-paginator #paginatorFacturasCliente [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
      </div>
      <div class="card-footer">
        <button [disabled]="selection.selected.length == 0" class="btn btn-success" (click)="exportExcel()"
          #btnExportExcel>
          <i class="fa fa-file-excel"></i> Exportar Excel</button>
        <button [disabled]="selection.selected.length == 0" class="btn btn-success" (click)="modalFacturasCliente.show()" #btnExportPdf>
          <i class="fa fa-file-pdf"></i> Exportar PDF</button>
      </div>
    </app-card>
  </div>
</div>

<app-modal-detalle-factura></app-modal-detalle-factura>

<app-modal-basic #modalFacturasCliente [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="billing-title modal-title">
      <button (click)="descargarPdf()" class="btn btn-success btn-sm">
        <i class="fa fa-file-pdf"></i> Descargar PDF</button>
    </h4>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="this.modalFacturasCliente.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body" id="reporte" #reporte>
    <app-template-reporte-facturas-cliente [empresa]="empresa" [facturas]="selection.selected" [usuario]="usuario"
      [cliente]="clienteAux" [fechaDesde]="fechaDesde" [fechaHasta]="fechaHasta"></app-template-reporte-facturas-cliente>
  </div>
</app-modal-basic>
