<div class="row">
    <div class="col-12">
        <app-card class="card" [title]="'Mantención de Proveedores'" [classHeader]="true" [showToggle]="false">
            <div *ngIf="havePermission" class="card-header">
                <div class="display-flex justify-between form-title">
                    <a href="javascript:" class="show-form-btn" (click)="show()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Crear Proveedor
                    </a>
                </div>
            </div>

            <div class="card-body mt-4">
                <section>

                    <mat-table #table [dataSource]="dataSourceProveedores">

                        <ng-container matColumnDef="rut">
                            <mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.rut }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="razon_social">
                            <mat-header-cell *matHeaderCellDef> Razón Social </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.razon_social }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nombre_contacto">
                            <mat-header-cell *matHeaderCellDef> Nombre Contacto </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.nombre_contacto }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="empresa">
                            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.empresa.razon_social }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef class="text-center"> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center">

                                <a href="javascript:" (click)="fillFormForEdit(element.id)" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top"
                                    title="" data-original-title="Editar">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a href="javascript:" (click)="deleteProveedor(element.id)" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Eliminar">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="columnsProveedores"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnsProveedores" style="border-color: #f8f8f8;"></mat-row>

                    </mat-table>

                    <ng-container *ngIf="isLoading">
                        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
                    </ng-container>

                    <mat-paginator #paginatorProveedores [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
                </section>
            </div>
        </app-card>
    </div>
</div>

<app-modal-basic #modal [dialogClass]="'modal-lg'">

    <div class="app-modal-header">
        <h4 class="modal-title">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ !isUpdate ? 'Crear' : 'Actualizar' }} Proveedor
            <button type="button" title="Limpiar Formulario" (click)="cleanForm()" [hidden]="proveedor.razon_social == null" class="clean-form-btn btn btn-link">
                <i class="fa fa-paint-brush" aria-hidden="true"></i> Limpiar
            </button>
        </h4>
        <button type="button" class="close basic-close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="app-modal-body">
        <!-- FORMULARIO CREACION USUARIOS -->
        <section *ngIf="this.showFormTitle && this.usuario.id_rol != 3" class="mb5">
            <!-- FORMULARIO -->
            <div>
                <form class="col-lg-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="proveedoresForm">
                    <div class="mt2 mb2 mxauto">
                        <div class="row">
                            <!-- RUT -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Rut</label>
                                    <input *ngIf="!isUpdate" placeholder="12345678-5" formatRut required maxlength="10" [(ngModel)]="proveedor.rut" [ngClass]="proveedoresForm.get('rut').invalid && this.proveedoresForm.get('rut').touched ?
                                          'is-invalid' : this.proveedoresForm.get('rut').untouched ? '' : 'is-valid' " formControlName="rut"
                                        type="text" class="form-control text-uppercase">
                                    <input *ngIf="isUpdate" formatRut disabled required [(ngModel)]="proveedor.rut" formControlName="rut" type="text" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.rut">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.rut }}
                                    </div>
                                </div>
                            </div>
                            <!-- RAZON SOCIAL -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Razon Social / Nombre</label>
                                    <input required maxlength="300" [(ngModel)]="proveedor.razon_social" [ngClass]="proveedoresForm.get('razon_social').invalid && this.proveedoresForm.get('razon_social').touched ?
                                          'is-invalid' : this.proveedoresForm.get('razon_social').untouched ? '' : 'is-valid' "
                                        formControlName="razon_social" type="text" class="form-control text-capitalize">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.razon_social">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.razon_social
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- NOMBRE DEL CONTACTO -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="display-flex justify-between align-center">
                                        <label class="col-form-label">Nombre del Contacto </label>
                                        <small class="text-muted">(Opcional)</small>
                                    </div>
                                    <input maxlength="200" [(ngModel)]="proveedor.nombre_contacto" [ngClass]="proveedoresForm.get('contacto').invalid && this.proveedoresForm.get('contacto').touched ?
                                          'is-invalid' : this.proveedoresForm.get('contacto').untouched ? '' : 'is-valid' "
                                        formControlName="contacto" type="text" class="form-control text-capitalize">

                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.contacto">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.contacto
                                        }}
                                    </div>
                                </div>
                            </div>
                            <!-- DIRECCION -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Dirección</label>
                                    <input required maxlength="200" [(ngModel)]="proveedor.direccion" [ngClass]="proveedoresForm.get('direccion').invalid && this.proveedoresForm.get('direccion').touched ?
                                          'is-invalid' : this.proveedoresForm.get('direccion').untouched ? '' : 'is-valid' "
                                        formControlName="direccion" type="text" class="form-control text-capitalize">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.direccion">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.direccion
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- TELEFONO -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Teléfono</label>
                                    <input required placeholder="+569 " [(ngModel)]="proveedor.telefono" [ngClass]="proveedoresForm.get('telefono').invalid && this.proveedoresForm.get('telefono').touched ?
                                          'is-invalid' : this.proveedoresForm.get('telefono').untouched ? '' : 'is-valid' "
                                        formControlName="telefono" type="tel" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.telefono">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.telefono
                                        }}
                                    </div>
                                </div>
                            </div>
                            <!-- EMAIL -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label">Email</label>
                                    <input required maxlength="100" [(ngModel)]="proveedor.email" [ngClass]="proveedoresForm.get('email').invalid && this.proveedoresForm.get('email').touched ?
                                          'is-invalid' : this.proveedoresForm.get('email').untouched ? '' : 'is-valid' "
                                        formControlName="email" type="email" class="form-control">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.email">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                          <div class="col-lg-6" *ngIf="usuario.id_rol == 1">
                              <div class="form-group">
                                  <label class="col-form-label">Empresa</label>
                                  <select class="form-control text-capitalize" formControlName="id_empresa" [ngClass]="this.proveedoresForm.get('id_empresa').invalid && this.proveedoresForm.get('id_empresa').touched ?
                          'is-invalid' : this.proveedoresForm.get('id_empresa').untouched ? '' : 'is-valid'" [(ngModel)]="proveedor.id_empresa"
                                      (change)="onChangeEmpresa($event.target.value)">
                                      <option *ngFor="let emp of empresas" value="{{ emp.id }}" [selected]="emp.id == proveedor.id_empresa">{{
                                          emp.razon_social + ' - ' + emp.rut }}</option>
                                  </select>
                              </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Giro</label>
                                <input required maxlength="300" [(ngModel)]="proveedor.giro" [ngClass]="proveedoresForm.get('giro').invalid && this.proveedoresForm.get('giro').touched ?
                                        'is-invalid' : this.proveedoresForm.get('giro').untouched ? '' : 'is-valid' "
                                    formControlName="giro" type="text" class="form-control text-capitalize">
                                <div class="mt2 error-box text-danger" *ngIf="formErrors.giro">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.giro
                                    }}
                                </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                            <!-- SUBMIT FORM -->
                            <div class="col-lg-12 m-t-5">
                                <button #buttonSubmit [disabled]="!proveedoresForm.valid" title="Guardar" type="submit" class="save-btn btn btn-outline-success btn-block">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</app-modal-basic>
