<section class="login p-fixed d-flex text-center bg-primary">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" (ngSubmit)="onLogin()" novalidate [formGroup]="loginForm">
            <div class="auth-box" [hidden]="isLogged">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Iniciar Sesión</h3>
                </div>
              </div>
              <hr />
              
              <ng-container *ngIf="tryLogin">
                <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
              </ng-container>

              <div [hidden]="tryLogin || isLoggedIn">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Usuario" [(ngModel)]="usuario.username"
                    formControlName="username">
                  <span class="md-line"></span>
                </div>
                <div class="input-group">
                  <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="usuario.password"
                    formControlName="password" autocomplete="off">
                  <span class="md-line"></span>
                </div>
                <div class="row m-t-25 text-left">
                  <div class="col-12 forgot-phone text-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> ¿Olvidaste tu
                      constraseña?</a>
                  </div>
                </div>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                      [disabled]="!loginForm.valid">Iniciar Sesión</button>
                  </div>
                </div>
                <div class="col-lg-12 error-box">
                  <div *ngIf="formErrorsLogin.username" class="text-danger">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrorsLogin.username }}
                  </div>
                  <div *ngIf="formErrorsLogin.password" class="text-danger">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrorsLogin.password }}
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-xs-12 col-md-10">
                  <p class="text-inverse text-left m-b-0">¡Gracias! por utilizar el sistema de Administración de Documentos Electrónicos.</p>
                  <p class="text-inverse text-left"><b>Atentamente BAT Solutions SPA.</b></p>
                </div>
                <div class="col-xs-12 col-md-2">
                  <img src="assets/images/logos/logo_bats.png" alt="logo-bat" width="70px" height="50px">
                </div>
              </div>
            </div>
            <app-spinner [hidden]="!tryLogin"></app-spinner>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>