<section class="login p-fixed d-flex text-center bg-primary">
    <div class="auth-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-body auth-body">
                    <form class="md-float-material" [formGroup]="newPasswordForm" (ngSubmit)="newPassword()" novalidate>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left">Crear Nueva Contraseña </h3>
                                </div>
                            </div>
                            <p class="text-inverse b-b-default text-right">Volver a la página <a [routerLink]="['/auth/login']">Iniciar Sesión.</a></p>
                            <div class="input-group">
                                <input type="password" class="form-control" formControlName="password" [(ngModel)]="password"
                                    placeholder="Nueva contraseña" [ngClass]="newPasswordForm.get('password').invalid && this.newPasswordForm.get('password').touched ?
                      'is-invalid' : this.newPasswordForm.get('password').untouched ? '' : 'is-valid' ">
                                <span class="md-line"></span>
                            </div>

                            <div class="col-lg-12 error-box">
                              <div *ngIf="formErrors.password" class="text-danger">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.password }}
                              </div>
                            </div>

                            <div class="input-group">
                                <input type="password" class="form-control" formControlName="passwordRepeat" [(ngModel)]="passwordRepeat"
                                    placeholder="Repetir contraseña" [ngClass]="newPasswordForm.get('passwordRepeat').invalid && this.newPasswordForm.get('passwordRepeat').touched ?
                            'is-invalid' : this.newPasswordForm.get('passwordRepeat').untouched ? '' : 'is-valid' ">
                                <span class="md-line"></span>
                            </div>

                            <div class="col-lg-12 error-box">
                              <div *ngIf="formErrors.passwordRepeat" class="text-danger">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.passwordRepeat }}
                              </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" #newPasswordButton [disabled]="!newPasswordForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Crear contraseña</button>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">¡Gracias! por utilizar el sistema de Administración de Documentos Electrónicos.</p>
                                    <p class="text-inverse text-left"><b>Atentamente BAT Solutions SPA.</b></p>
                                </div>
                                <div class="col-md-2">
                                    <img src="assets/images/logos/logo_bats.png" alt="small-logo.png" width="70px" height="50px">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
