<div class="row">
    <div class="col-12">
        <app-card class="card" [title]="'Mantención de Usuarios'" [classHeader]="true" [showToggle]="false">
            <div class="card-header">
                <div class="display-flex justify-between form-title">
                    <a href="javascript:" class="show-form-btn" (click)="show()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Crear Usuario
                    </a>
                </div>
            </div>
            <div class="card-body mt-4">
                <section>

                    <mat-table #tableUsuarios [dataSource]="dataSourceUsuarios">

                        <ng-container matColumnDef="username">
                            <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.nombre }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="apellidos">
                            <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.apellidos }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef> Creación </mat-header-cell>
                            <mat-cell *matCellDef="let element">{{ element.created_at }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="rol">
                            <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">
                                <label class="label label-info">{{ element.rol.name }}</label>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name_activo">
                            <mat-header-cell *matHeaderCellDef> Activo </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">
                                <label class="label" [ngClass]="{'label-success': element.name_activo == 'activo', 'label-danger': element.name_activo == 'inactivo'}">{{
                                    element.name_activo }}</label>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="empresa">
                            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.empresa.razon_social }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef class="text-center"> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center">

                                <a href="javascript:" (click)="fillFormForEditUsuario(element.id)" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top"
                                    title="" data-original-title="Editar">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a href="javascript:" (click)="deleteUsuario(element.id)" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Eliminar">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>

                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="columnsUsuarios"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnsUsuarios" style="border-color: #f8f8f8;"></mat-row>

                    </mat-table>

                    <ng-container *ngIf="isLoadingUsuarios">
                        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
                    </ng-container>
                    
                    <mat-paginator #paginatorUsuarios [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
                </section>
            </div>
        </app-card>
    </div>
</div>

<app-modal-basic #modal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ !isUpdate ? 'Crear' : 'Actualizar' }} Usuario
            <button type="button" title="Limpiar Formulario" (click)="cleanForm()" [hidden]="usuario.username == null" class="clean-form-btn btn btn-link">
                <i class="fa fa-paint-brush" aria-hidden="true"></i> Limpiar
            </button>
        </h4>
        <button type="button" class="close basic-close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <section class="mb5">
            <div>
                <form class="col-lg-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="usuariosForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Usuario</label>
                                <input *ngIf="!isUpdate" required maxlength="10" [(ngModel)]="usuario.username" [ngClass]="usuariosForm.get('username').invalid && this.usuariosForm.get('username').touched ?
                                                    'is-invalid' : this.usuariosForm.get('username').untouched ? '' : 'is-valid' "
                                    formControlName="username" type="text" class="form-control">
                                <input *ngIf="isUpdate" disabled required [(ngModel)]="usuario.username" formControlName="username" type="text" class="form-control">
                                <div class="mt2 error-box text-danger" *ngIf="formErrors.username">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.username }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Rol</label>
                                <select class="form-control text-capitalize" formControlName="id_rol" (change)="onChangeRol($event.target.value)" [(ngModel)]="usuario.id_rol" [ngClass]="usuariosForm.get('id_rol').invalid && this.usuariosForm.get('id_rol').touched ?
                                'is-invalid' : this.usuariosForm.get('id_rol').untouched ? '' : 'is-valid' ">
                                    <option *ngFor="let rol of roles" value="{{ rol.id }}" [selected]="usuario.id_rol == rol.id">{{
                                        rol.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Nombre</label>
                                <input required maxlength="100" [(ngModel)]="usuario.nombre" [ngClass]="usuariosForm.get('nombre').invalid && this.usuariosForm.get('nombre').touched ?
                                            'is-invalid' : this.usuariosForm.get('nombre').untouched ? '' : 'is-valid' "
                                    formControlName="nombre" type="text" class="form-control text-capitalize">
                                <div class="mt2 error-box text-danger" *ngIf="formErrors.nombre">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.nombre }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Apellidos</label>
                                <input required maxlength="150" [(ngModel)]="usuario.apellidos" [ngClass]="usuariosForm.get('apellidos').invalid && this.usuariosForm.get('apellidos').touched ? 'is-invalid' : this.usuariosForm.get('apellidos').untouched ? '' : 'is-valid' "
                                    formControlName="apellidos" type="text" class="form-control text-capitalize">

                                <div class="mt2 error-box text-danger" *ngIf="formErrors.apellidos">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.apellidos }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input required maxlength="50" [(ngModel)]="usuario.email" [ngClass]="usuariosForm.get('email').invalid && this.usuariosForm.get('email').touched ?
                                  'is-invalid' : this.usuariosForm.get('email').untouched ? '' : 'is-valid' " formControlName="email"
                                    type="email" class="form-control">
                                <div class="mt2 error-box text-danger" *ngIf="formErrors.email">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.email }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" *ngIf="!isUpdate">
                                <label class="col-form-label">Contraseña</label>
                                <input type="password" class="form-control" formControlName="password" [ngClass]="this.usuariosForm.get('password').invalid && this.usuariosForm.get('password').touched ?
                                  'is-invalid' : this.usuariosForm.get('password').untouched ? '' : 'is-valid'" maxlength="100"
                                    [(ngModel)]="usuario.password">
                                <div class="mt2 error-box text-danger" *ngIf="formErrors.password">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.password }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Activo</label>
                                <select class="form-control text-capitalize" formControlName="activo" [ngClass]="this.usuariosForm.get('activo').invalid && this.usuariosForm.get('activo').touched ?
                                    'is-invalid' : this.usuariosForm.get('activo').untouched ? '' : 'is-valid'" [(ngModel)]="usuario.activo"
                                    (change)="onChangeActivo($event.target.value)">
                                    <option value="1" [selected]="usuario.activo == 1">Activado</option>
                                    <option value="0" [selected]="usuario.activo == 0">Desactivado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-form-label">Empresa</label>
                                <select class="form-control text-capitalize" formControlName="id_empresa" [ngClass]="this.usuariosForm.get('id_empresa').invalid && this.usuariosForm.get('id_empresa').touched ?
                                                  'is-invalid' : this.usuariosForm.get('id_empresa').untouched ? '' : 'is-valid'"
                                    [(ngModel)]="usuario.id_empresa" (change)="onChangeEmpresa($event.target.value)">
                                    <option *ngFor="let emp of empresas" value="{{ emp.id }}" [selected]="emp.id == usuario.id_empresa">{{
                                        emp.razon_social + ' - ' + emp.rut }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 m-t-5">
                            <button #buttonSubmit [disabled]="!usuariosForm.valid" title="Guardar" type="submit" class="save-btn btn btn-outline-success btn-block">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</app-modal-basic>