<div class="row">

  <div class="col-12 col-md-4">
    <app-card [title]="'Filtro'" [classHeader]="true" [showToggle]="false">
      <div class="row">

        <div class="col-12">
          <div class="form-group">
            <ng-container *ngIf="usuario.id_rol == 1">
              <label for="empresa">Empresa:</label>
              <select class="form-control" [(ngModel)]="id_empresa" name="empresa" #empresa (change)="getProveedoresByEmpresa()">
                <option [ngValue]="0" [selected]="true">Seleccionar Empresa</option>
                <option *ngFor="let e of empresas" value="{{ e.id }}">{{ e.razon_social }}</option>
              </select>
            </ng-container>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label for="proveedor">Proveedor:</label>
            <ng-select [options]="proveedoresOptions" #proveedorSelect [(ngModel)]="proveedor.id" (ngChangeModel)="proveedor.id">
            </ng-select>
          </div>
        </div>

        <div class="col-12">
          <input type="button" class="btn btn-primary btn-block" value="BUSCAR" (click)="getReporteArticulos()">
        </div>

      </div>
    </app-card>
  </div>

  <div class="col-12 col-md-8">
    <app-card class="card" [title]="'Artículos'" [classHeader]="true" [showToggle]="false">
      <div class="card-body">

        <mat-table [dataSource]="dataSourceArticulos">

          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ element.descripcion }}">
                {{ element.descripcion | slice:0:10 }}...
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="proveedor">
            <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ element.proveedor.razon_social }}">
                {{ element.proveedor.razon_social | slice:0:10 }}...
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="precio_de_compra">
            <mat-header-cell *matHeaderCellDef> Precio Compra </mat-header-cell>
            <mat-cell *matCellDef="let element">${{ element.precio_de_compra | thousands }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="precio_de_venta">
            <mat-header-cell *matHeaderCellDef> Precio Venta </mat-header-cell>
            <mat-cell *matCellDef="let element">${{ element.precio_de_venta | thousands }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="stock">
            <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.stock | thousands }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsArticulos"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsArticulos;" style="border-color: #f8f8f8;"></mat-row>

        </mat-table>

        <ng-container *ngIf="isLoading">
          <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
        </ng-container>

        <ng-container *ngIf="showAlertNotFound">
          <div class="table-body-empty mb-4 mt-4">
            <div class="text-center">
              <p>
                No se han encontrado Artículos.<br> Agregue artículos para generar un reporte.
              </p>
            </div>
          </div>
        </ng-container>

        <mat-paginator #paginatorReporteArticulos [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>

      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="exportExcel()" #btnExportExcel>
          <i class="fa fa-file-excel-o"></i> Exportar Excel</button>
        <button class="btn btn-success" data-toggle="modal" data-target=".modal-reporte-articulos" #btnExportPdf
          (click)="show()">
          <i class="fa fa-file-pdf-o"></i> Exportar PDF</button>
      </div>
    </app-card>
  </div>

</div>

<div (click)="onContainerClicked($event)" class="basic modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
  [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}" style="overflow-y: scroll;">
  <div class="modal-dialog modal-lgx">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="billing-title modal-title">
          <button (click)="descargarPdf()" class="btn btn-success btn-sm">
            <i class="fa fa-file-pdf"></i> Descargar PDF</button>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="reporte" #reporte>
        <app-template-reporte-articulos [empresa]="empresa" [usuario]="usuario" [articulos]="dataSourceArticulos.data"></app-template-reporte-articulos>
      </div>
    </div>
  </div>
</div>
