<div class="row">
    <div class="col-12">
        <app-card class="card" [title]="'Mantención de Presupuestos'" [classHeader]="true" [showToggle]="false">

            <div class="card-header">
                <a href="javascript:" [ngClass]="showFormState ? 'btn btn-outline-primary' : 'btn btn-primary'" (click)="showAll()">
                    Mostrar Todas
                </a>
                <a href="javascript:" [ngClass]="showFormState ? 'btn btn-primary' : 'btn btn-outline-primary'" *ngIf="showNuevoPresupuesto"
                    (click)="cancel()">
                    Nueva
                </a>
            </div>

            <div class="card-body">

                <ng-container *ngIf="showFormState">
                    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="presupuestoForm">

                        <div class="row">

                            <div class="col-12">
                                <label class="label label-badge label-info label-lg float-right">
                                    Fecha Creación:
                                    <small>{{ dateToday | date:'dd-MM-yyyy' }}</small>
                                </label>
                            </div>

                            <div class="col-12 col-md-4" *ngIf="this.usuario.id_rol == 1">
                                <div class="form-group">
                                    <label class="col-form-label">Empresa</label>
                                    <select class="custom-select" class="form-control" [(ngModel)]="presupuesto.id_empresa"
                                        (ngModelChange)="getClientesByEmpresa(presupuesto.id_empresa)" formControlName="empresa"
                                        [ngClass]="presupuestoForm.get('empresa').invalid && this.presupuestoForm.get('empresa').touched ?
                                                                  'is-invalid' : this.presupuestoForm.get('empresa').untouched ? '' : 'is-valid' ">
                                        <option [ngValue]="null">Selecciona una Empresa</option>
                                        <option *ngFor="let e of empresas" [ngValue]="e.id">
                                            {{ e.razon_social }}
                                        </option>
                                    </select>
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.proveedor">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{
                                        formErrors.proveedor }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" [ngClass]="this.usuario.id_rol == 1 ? 'col-md-4' : 'col-md-8'">
                                <div class="form-group">
                                    <label class="col-form-label">Cliente</label>
                                    <ng-select [ngClass]="presupuestoForm.get('cliente').invalid && this.presupuestoForm.get('cliente').touched ? 'is-invalid' : this.presupuestoForm.get('cliente').untouched ? '' : 'is-valid'"
                                        [options]="clientesOptions" [(ngModel)]="presupuesto.cliente_rut"
                                        formControlName="cliente">
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="fechaExpiracion">Fecha Expiración</label>
                                    <input type="date" class="form-control" [ngModel]="presupuesto.fecha_expiracion"
                                        (ngModelChange)="presupuesto.fecha_expiracion = $event" formControlName="fechaExpiracion"
                                        [ngClass]="presupuestoForm.get('fechaExpiracion').invalid && this.presupuestoForm.get('fechaExpiracion').touched ? 'is-invalid' : this.presupuestoForm.get('fechaExpiracion').untouched ? '' : 'is-valid' "
                                        id="fechaExpiracion" placeholder="">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.fechaExpiracion">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{
                                        formErrors.fechaExpiracion }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" [ngModel]="presupuesto.nombre"
                                        (ngModelChange)="presupuesto.nombre = $event" formControlName="nombre"
                                        [ngClass]="presupuestoForm.get('nombre').invalid && this.presupuestoForm.get('nombre').touched ? 'is-invalid' : this.presupuestoForm.get('nombre').untouched ? '' : 'is-valid' "
                                        id="nombre" placeholder="">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.nombre">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{
                                        formErrors.nombre }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" [ngModel]="presupuesto.email"
                                        (ngModelChange)="presupuesto.email = $event" formControlName="email" [ngClass]="presupuestoForm.get('email').invalid && this.presupuestoForm.get('email').touched ? 'is-invalid' : this.presupuestoForm.get('email').untouched ? '' : 'is-valid' "
                                        id="email" placeholder="">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.email">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{
                                        formErrors.email }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="asunto">Asunto</label>
                                    <input type="text" class="form-control" [ngModel]="presupuesto.asunto"
                                        (ngModelChange)="presupuesto.asunto = $event" formControlName="asunto"
                                        [ngClass]="presupuestoForm.get('asunto').invalid && this.presupuestoForm.get('asunto').touched ? 'is-invalid' : this.presupuestoForm.get('asunto').untouched ? '' : 'is-valid' "
                                        id="asunto" placeholder="">
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.asunto">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{
                                        formErrors.asunto }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                  <label for="exenta">Exenta</label>
                                  <select [(ngModel)]="presupuesto.exenta" class="form-control" formControlName="exenta" [ngClass]="presupuestoForm.get('exenta').invalid && this.presupuestoForm.get('exenta').touched ?
                                        'is-invalid' : this.presupuestoForm.get('exenta').untouched ? '' : 'is-valid' " (change)="changeExenta()">
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                                  </select>
                                </div>
                              </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="descripcion">Descripcion</label>
                                    <quill-editor [(ngModel)]="presupuesto.descripcion" [options]="editorConfig"
                                        (ngModelChange)="presupuesto.descripcion = $event" formControlName="descripcion"
                                        [ngClass]="presupuestoForm.get('descripcion').invalid && this.presupuestoForm.get('descripcion').touched ? 'is-invalid' : this.presupuestoForm.get('descripcion').untouched ? '' : 'is-valid' ">
                                    </quill-editor>
                                    <!-- <textarea id="descripcion" cols="30" rows="10" class="form-control"></textarea> -->
                                    <div class="mt2 error-box text-danger" *ngIf="formErrors.descripcion">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{
                                        formErrors.descripcion }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <h5 class="col-12">
                            Detalle del Presupuesto
                            <button type="button" title="Agregar" class="btn btn-outline-success float-right mb-3"
                                (click)="LoadAllArticulosModal()" data-toggle="modal" data-target=".modal-articulos">
                                <i class="fa fa-cube" aria-hidden="true"></i> Agregar Artículos
                            </button>
                        </h5>

                        <div class="col-12">
                            <mat-table #tableDetallePresupuesto [dataSource]="dataSourceDetallePresupuestos">

                                <ng-container matColumnDef="descripcion">
                                    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.descripcion ||
                                        element.descripcion_articulo}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="precio_de_venta">
                                    <mat-header-cell *matHeaderCellDef> Precio Venta</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> ${{element.precio_de_venta || element.precio
                                        | thousands}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="unidades">
                                    <mat-header-cell *matHeaderCellDef> Unidades </mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{ element.unidades | thousands }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="subtotal">
                                    <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> ${{element.subtotal | thousands}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="accion">
                                    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <a href="javascript:" (click)="deleteArticuloPresupuesto(element)" class="text-muted"
                                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar">
                                            <i class="icofont icofont-delete-alt"></i>
                                        </a>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="dataColumnsDetallePresupuestos"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: dataColumnsDetallePresupuestos;" style="border-color: #f8f8f8;"></mat-row>

                            </mat-table>

                            <div *ngIf="dataSourceDetallePresupuestos.data.length == 0" class="text-center mt-4">
                                <p>
                                    Este presupuesto no tiene artículos asociados.
                                </p>
                            </div>

                            <mat-paginator #paginatorDetallePresupuestos [pageSize]="6" [pageSizeOptions]="[6]"
                                [showFirstLastButtons]="true"></mat-paginator>
                        </div>

                        <!-- TOTALES -->
                        <section class="col-md-12 mb2 display-flex justify-between align-center">
                            <div class="row">
                                <div class="col-md-5">
                                    <section>
                                        <!-- SUBTOTAL -->
                                        <div class="input-group input-group-sm mb-2">
                                            <div class="input-group-prepend totals-width">
                                                <span class="bg-primary text-white input-group-text">
                                                    <b>SUBTOTAL</b>
                                                </span>
                                            </div>
                                            <input type="text" [ngModel]="articulosService.formatDecimalToCLP(this.presupuesto.sub_total)"
                                                (ngModelChange)="sub_total=$event" disabled class="form-control">
                                        </div>
                                        <!-- IVA -->
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend totals-width">
                                                <span class="bg-primary text-white input-group-text">
                                                    <b>I.V.A</b>
                                                </span>
                                            </div>
                                            <input type="text" [ngModel]="articulosService.formatDecimalToCLP(this.presupuesto.iva)"
                                                (ngModelChange)="iva=$event" disabled class="form-control">
                                        </div>
                                        <!-- TOTAL -->
                                        <div class="input-group input-group-lg">
                                            <div class="input-group-prepend totals-width">
                                                <span class="bg-primary text-white input-group-text">
                                                    <b>TOTAL</b>
                                                </span>
                                            </div>
                                            <input type="text" [ngModel]="articulosService.formatDecimalToCLP(this.presupuesto.total)"
                                                (ngModelChange)="total=$event" disabled class="form-control font-weight-bold">
                                        </div>
                                    </section>
                                </div>
                                <!-- BOTONES SUBMIT -->
                                <div class="col-md-7 display-flex flex-column justify-between px5">
                                    <button #buttonSubmitUpdate *ngIf="isUpdate" type="button" title="Actualizar"
                                        (click)="onUpdate()" [disabled]="!presupuestoForm.valid || dataSourceDetallePresupuestos.data.length == 0"
                                        class="btn btn-success btn-lg btn-block mb4">Actualizar
                                        Presupuesto</button>
                                    <button #buttonSubmit *ngIf="!isUpdate" type="button" title="Guardar" (click)="onSubmit()"
                                        [disabled]="!presupuestoForm.valid || dataSourceDetallePresupuestos.data.length == 0"
                                        class="btn btn-success btn-lg btn-block mb4">Guardar
                                        Presupuesto</button>
                                    <button type="button" title="Cancelar" (click)="cancelFromButton()" class="btn btn-outline-secondary mt-3 float-right">Cancelar</button>
                                </div>
                            </div>
                        </section>

                    </div>

                </ng-container>

                <ng-container *ngIf="!showFormState">
                    <mat-table #tablePresupuestos [dataSource]="dataSourcePresupuestos">

                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" class="">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="numero">
                            <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <label class="label label-info label-lg">{{element.numero}}</label>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                            <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.cliente_razon_social}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef> Fecha Creación </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.created_at | date:'dd-MM-yyyy'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fecha_expiracion">
                            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{element.fecha_expiracion | date:'dd-MM-yyyy'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                ${{element.total | thousands}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef class="text-center"> Acciones </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center">
                                <a href="javascript:" (click)="findPresupuestoById(element.id)" class="m-r-15 text-muted"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a href="javascript:" class="m-r-15 text-muted" (click)="showModalEnviarCorreo(element.id)"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Enviar Correo">
                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:" class="m-r-15 text-muted" (click)="showDetallePresupuesto(element.id)"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver Detalle">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:" (click)="deletePresupuesto(element)" class="text-muted"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="dataColumnsPresupuestos"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: dataColumnsPresupuestos;" style="border-color: #f8f8f8;"></mat-row>

                    </mat-table>

                    <ng-container *ngIf="isLoading">
                        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
                    </ng-container>

                    <div *ngIf="dataSourcePresupuestos.data.length == 0 && !isLoading" class="text-center mt-4">
                        <p>
                            No se han encontrado presupuestos. <br>
                            <a href="javascript:;" (click)="cancel()" *ngIf="showNuevoPresupuesto">Crear Presupuesto.</a>
                        </p>
                    </div>

                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5]" [showFirstLastButtons]="true"></mat-paginator>
                </ng-container>
            </div>
        </app-card>
    </div>
</div>

<!-- MODAL ARTICULOS -->
<modal-articulos (send)="getArticulosFromChild($event)" [showInputPrecioVenta]="true" [isPresupuesto]="true"></modal-articulos>

<app-modal-basic #modalEnviarCorreo [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4>Enviar Presupuesto por Email</h4>
        <button type="button" class="close basic-close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="sendEmailForm">
                    <div class="form-group">
                        <label for="destinationMail">Destinatario</label>
                        <input type="email" class="form-control" placeholder="ejemplo@mail.com" [(ngModel)]="destinationMail"
                            formControlName="email" [ngClass]="sendEmailForm.get('email').invalid && this.sendEmailForm.get('email').touched ? 'is-invalid' : this.sendEmailForm.get('email').untouched ? '' : 'is-valid'">
                        <div class="mt2 error-box text-danger" *ngIf="formErrorsSendEmail.email">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{
                            formErrorsSendEmail.email }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-md btn-outline-secondary" (click)="modalEnviarCorreo.hide()">Cancelar</button>
        <button type="button" class="btn btn-md btn-success" (click)="sendPresupuestoEmail()" [disabled]="!sendEmailForm.valid" #enviarCorreo>Enviar Email</button>
    </div>
</app-modal-basic>

<app-modal-detalle-presupuesto></app-modal-detalle-presupuesto>
