<div class="row">
  <div class="col-12 col-md-4">
    <app-card class="card" [title]="'Filtro'" [classHeader]="true" [showToggle]="false">
      <div class="col-md-12">

        <form novalidate [formGroup]="facturasProveedorForm" (ngSubmit)="getReporteFacturasByProveedor()">

          <div class="row">

            <div class="col-12">
              <div class="form-group">
                <ng-container *ngIf="usuario.id_rol == 1">
                  <label for="empresa">Empresa:</label>
                  <select class="form-control" [(ngModel)]="idEmpresa" name="empresa" #empresa (change)="getProveedoresByEmpresa()"
                    [ngClass]="facturasProveedorForm.get('empresa').invalid && this.facturasProveedorForm.get('empresa').touched ? 'is-invalid' : this.facturasProveedorForm.get('empresa').untouched ? '' : 'is-valid' "
                    formControlName="empresa">
                    <option value="null" [selected]="true">Seleccionar Empresa</option>
                    <option *ngFor="let e of empresas" value="{{ e.id }}">{{ e.razon_social }}</option>
                  </select>
                  <div class="mt2 error-box" *ngIf="formErrors.empresa">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    {{ formErrors.empresa }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="proveedor">Proveedor:</label>
                <ng-select [options]="proveedoresOptions" [(ngModel)]="rutProveedor" (ngModelChange)="getProveedor()"
                  [ngClass]="facturasProveedorForm.get('proveedor').invalid && this.facturasProveedorForm.get('proveedor').touched ? 'is-invalid' :
                              this.facturasProveedorForm.get('proveedor').untouched ? '' : 'is-valid'"
                  formControlName="proveedor">
                </ng-select>
                <div class="mt2 error-box" *ngIf="formErrors.proveedor">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  {{ formErrors.proveedor }}
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="fechaDesde">Fecha desde:</label>
                <input type="date" class="form-control" name="fechaDesde" id="fechaDesde" [(ngModel)]="fechaDesde"
                  required [ngClass]="facturasProveedorForm.get('fechaDesde').invalid && this.facturasProveedorForm.get('fechaDesde').touched ?
                                'is-invalid' : this.facturasProveedorForm.get('fechaDesde').untouched ? '' : 'is-valid' "
                  formControlName="fechaDesde">
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="fechaHasta">Fecha hasta:</label>
                <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" [(ngModel)]="fechaHasta"
                  required [ngClass]="facturasProveedorForm.get('fechaHasta').invalid && this.facturasProveedorForm.get('fechaHasta').touched ?
                                'is-invalid' : this.facturasProveedorForm.get('fechaHasta').untouched ? '' : 'is-valid' "
                  formControlName="fechaHasta">
              </div>
            </div>

            <div class="col-12">
              <input type="submit" class="btn btn-primary btn-block" value="BUSCAR" [disabled]="!facturasProveedorForm.valid">
            </div>
          </div>
        </form>

      </div>
    </app-card>
  </div>

  <div class="col-12 col-md-8">
    <app-card class="card" [title]="'Facturas'" [classHeader]="true" [showToggle]="false">
      <div class="card-body">

        <mat-table #tableFacturasProveedor [dataSource]="dataSourceFacturasProveedor">

          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" class="">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.numero}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.fecha | date:'dd-MM-yyyy' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="proveedor">
            <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ row.razon_social }}">
                {{ row.razon_social | slice:0:10 }}...
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let row"> ${{ row.total | thousands }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nula">
            <mat-header-cell *matHeaderCellDef class="text-center"> ¿Anulada? </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <label class="label label-badge" [ngClass]="{ 'label-danger': row.nula == 1, 'label-success': row.nula == 0 }">
                {{ row.nula == 0 ? 'No' : 'Si' }}
              </label>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" class="btn btn-success btn-sm" (click)="showDetalleFactura(row.id)">Ver Detalle</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="dataColumnsFacturasProveedor"></mat-header-row>
          <mat-row *matRowDef="let row; columns: dataColumnsFacturasProveedor;" style="border-color: #f8f8f8;"></mat-row>

        </mat-table>

        <div class="display-flex align-center flex-column" width="100%" *ngIf="isLoading">
          <ng-container *ngIf="isLoading">
            <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
          </ng-container>
        </div>

        <div *ngIf="dataSourceFacturasProveedor.data.length == 0 && !isLoading" class="text-center mt-4">
          <p>
            No se han encontrado facturas.
          </p>
        </div>

        <mat-paginator #paginatorFacturasProveedor [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
      </div>
      <div class="card-footer">
        <button [disabled]="selection.selected.length == 0" class="btn btn-success" (click)="exportExcel()" #btnExportExcel>
          <i class="fa fa-file-excel"></i> Exportar Excel</button>
        <button [disabled]="selection.selected.length == 0" class="btn btn-success" (click)="modalFacturasProveedor.show()" #btnExportPdf>
          <i class="fa fa-file-pdf"></i> Exportar PDF</button>
      </div>
    </app-card>
  </div>
</div>

<app-modal-detalle-factura></app-modal-detalle-factura>

<app-modal-basic #modalFacturasProveedor [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="billing-title modal-title">
      <button (click)="descargarPdf()" class="btn btn-success btn-sm">
        <i class="fa fa-file-pdf"></i> Descargar PDF</button>
    </h4>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="this.modalFacturasProveedor.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body" id="reporte" #reporte>
    <app-template-reporte-facturas-proveedor [empresa]="empresa" [facturas]="selection.selected" [usuario]="usuario"
      [proveedor]="proveedorAux" [fechaDesde]="fechaDesde" [fechaHasta]="fechaHasta">
    </app-template-reporte-facturas-proveedor>
  </div>
</app-modal-basic>
