$primary-color-fact: #007bff

ul
    padding: 0
    margin: 0
    height: 80px
    border: 1px solid $primary-color-fact
    li
        cursor: pointer
        list-style: none
        text-align: center
        color: $primary-color-fact
        height: inherit
        width: 33.3%
        outline: 0
        &:hover
            color: lighten($primary-color-fact, 15%) 
        i
            font-size: 1.4rem

.active-step
    color: whitesmoke !important
    background-color: $primary-color-fact !important
    &:hover
        color: lighten(whitesmoke, 15%) !important

.billing-container
    border: 1px solid gainsboro
