<div class="row">
    <div class="col-12">
        <app-card [title]="'Facturación'" [showToggle]="false">
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </app-card>
    </div>
</div>