<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3>Bienvenido al Sistema de Facturación.</h3>
                <p>
                    <!--<strong class="text-capitalize">{{ usuario.username }}</strong>,--> Utilice el menú de la izquierda para comenzar a navegar por el sistema.
                </p>
            </div>
        </div>
    </div>
</div>