<div (click)="onContainerClicked($event)" class="basic modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lgx">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="billing-title modal-title">Artículos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Artículo">
                    </mat-form-field>
                </div>

                <div class="col-12">
                    <mat-table #table [dataSource]="dataSource">

                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" class="">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-uppercase">
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="{{ element.descripcion }}">
                                    {{element.descripcion | slice:0:10}}...
                                </span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="precio_de_venta">
                            <mat-header-cell *matHeaderCellDef> Precio Venta </mat-header-cell>

                            <mat-cell *matCellDef="let element">

                                <ng-container *ngIf="showInputPrecioVenta">
                                    <input type="number" class="form-control input-precio" value="{{ element.precio_de_venta }}" (focusout)="changePrecioVenta($event.target.value, element)">
                                </ng-container>

                                <ng-container *ngIf="!showInputPrecioVenta">
                                    ${{element.precio_de_venta | thousands}}
                                </ng-container>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="precio_de_compra">
                            <mat-header-cell *matHeaderCellDef> Precio Compra</mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.precio_de_compra | thousands}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="stock">
                            <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <label class="label label-badge" [ngClass]="{'label-danger': element.stock == 0, 'label-success': element.stock > 5, 'label-warning': element.stock <= 5}">{{element.stock | thousands}}</label>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="unidades">
                            <mat-header-cell *matHeaderCellDef> Unidades </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <input-unidades [impuesto]="impuesto" [rowData]="element"></input-unidades>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="subtotal">
                            <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
                            <mat-cell *matCellDef="let element"> ${{element.subtotal | thousands}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="columnsArticulos"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnsArticulos;" style="border-color: #f8f8f8;"></mat-row>

                    </mat-table>

                    <ng-container *ngIf="isLoading">
                        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
                    </ng-container>

                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5]" [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Cancelar</button>
                <button type="button" [disabled]="!(this.articulos.length != 0)" (click)="sendArticulos()" class="btn btn-outline-success">
                    <i class="fa fa-cube" aria-hidden="true"></i> Agregar Artículos</button>
            </div>
        </div>
    </div>
</div>
