<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <a href="javascript:" [ngClass]="showFormState ? 'btn btn-outline-primary' : 'btn btn-primary'" (click)="showAll()">
          Mostrar Todas
        </a>
        <a href="javascript:" [ngClass]="showFormState ? 'btn btn-primary' : 'btn btn-outline-primary'" *ngIf="showNuevaFactura"
          (click)="cancel()">
          Nueva
        </a>

        <ng-container *ngIf="!showFormState">
          <mat-form-field class="float-right">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Factura">
          </mat-form-field>
        </ng-container>
      </div>
    </div>

    <!-- OPCIONES -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <!-- BARRA DE BUSQUEDA -->
      <div *ngIf="showNuevaFactura" class="form-inline my-2 my-lg-0">
        <input onlyNumbers [(ngModel)]="txtBuscar" class="form-control mr-sm-2" type="search" placeholder="N° Factura">
        <button [disabled]="!txtBuscar" title="Buscar Factura" (click)="searchFacturaByNumber()" class="btn btn-outline-primary my-2 my-sm-0"
          type="submit">Buscar</button>
      </div>
      <div *ngIf="(facturasEncontradasPorNumero.length > 0)" class="float-box-billing">
        <div class="display-flex align-center justify-between">
          <h6>Selecciona una factura</h6>
          <button type="button" class="close" (click)="closeSearchBox()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <table class="table table-hover" style="font-size: 0.8rem">
          <thead>
            <tr>
              <th scope="col">Número</th>
              <th scope="col">Tipo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of facturasEncontradasPorNumero" (click)="selectFacturaToView(f)" style="cursor: pointer">
              <td>{{ f.numero }}</td>
              <td>{{ f.tipo_factura == 1 ? 'Venta': 'Compra' }}</td>
              <td>{{ f.fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ f.razon_social }}</td>
              <td>$ {{ f.total | thousands }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- MOSTRAR TODAS -->
<section class="row mt-5" *ngIf="!showFormState">
  <!-- GRILLA -->
  <section class="col-12 border-billing">
    <div class="row mb2">
      <!-- BOTON MODAL FACTURAS -->
      <div class="col-md-12">
        <section class="p3 display-flex justify-between align-center">
          <h5>Listado Facturas de Compra</h5>
        </section>
      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="isLoading">
        <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
      </ng-container>
      <!-- GRILLA FACTURAS -->
      <section [hidden]="isLoading" class="col-md-12 mb2">

        <mat-table #tableFacturas [dataSource]="dataSourceFacturas">

          <ng-container matColumnDef="numero">
            <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <label class="label label-info label-lg">{{element.numero}}</label>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha_de_creacion">
            <mat-header-cell *matHeaderCellDef> Fecha Creación</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fecha_de_creacion.split(' ')[0]}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha Factura</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fecha.split(' ')[0]}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="proveedor">
            <mat-header-cell *matHeaderCellDef> Proveedor </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.razon_social }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="empresa">
            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.name_empresa }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="exenta">
            <mat-header-cell *matHeaderCellDef> Exenta </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-uppercase">{{ element.exenta == 1 ? 'Si' : 'No' }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let element">${{ element.total | thousands }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name_nula">
            <mat-header-cell *matHeaderCellDef class="text-center"> ¿Anulada? </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-center text-uppercase">
              <label class="label" [ngClass]="{'label-success': element.name_nula == 'No', 'label-danger': element.name_nula == 'Si'}">{{element.name_nula}}</label>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef class="text-center"> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-center">
              <a href="javascript:" (click)="searchFacturaById(element)" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top"
                title="" data-original-title="Editar">
                <i class="icofont icofont-ui-edit"></i>
              </a>
              <a href="javascript:" (click)="deleteFactura(element)" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Eliminar">
                <i class="icofont icofont-delete-alt"></i>
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsFactura"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsFactura;" style="border-color: #f8f8f8;"></mat-row>

        </mat-table>

        <div class="col-12" *ngIf="dataSourceFacturas.data.length == 0">
          <p class="text-center mt-4">
            No se han creado Facturas de Compra. <br>
            <a href="javascript:;" (click)="cancel()" *ngIf="showNuevaFactura">Crear Factura de Compra</a>
          </p>
        </div>

        <mat-paginator #paginatorFactura [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
      </section>
    </div>
  </section>
</section>
<!-- FACTURADOR -->
<section class="row mt-5" *ngIf="showFormState">
  <section class="col-lg-12 border-billing">
    <!-- FORMULARIO -->
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="factCompraForm">

      <div class="row">
        <div class="col-12 col-md-6">

          <div class="row">

            <div *ngIf="usuario.id_rol == 1" class="col-12">
              <div class="form-group">
                <label class="col-form-label">Empresa</label>
                <select class="custom-select" class="form-control" [(ngModel)]="facturaCompra.id_empresa" (ngModelChange)="getProveedoresByEmpresa(facturaCompra.id_empresa)"
                  formControlName="empresa" [ngClass]="factCompraForm.get('empresa').invalid && this.factCompraForm.get('empresa').touched ?
                                        'is-invalid' : this.factCompraForm.get('empresa').untouched ? '' : 'is-valid' ">
                  <option [ngValue]="null">Selecciona una Empresa</option>
                  <option *ngFor="let e of empresas" [ngValue]="e.id">
                    {{ e.razon_social }}
                  </option>
                </select>
                <div class="mt2 error-box text-danger" *ngIf="formErrors.proveedor">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.proveedor }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="numFactura">N° Factura</label>
                <input *ngIf="!isUpdate" onlyNumbers type="number" min="0" required class="form-control" [(ngModel)]="facturaCompra.numero"
                  formControlName="numero" [ngClass]="factCompraForm.get('numero').invalid && this.factCompraForm.get('numero').touched ?
                                      'is-invalid' : this.factCompraForm.get('numero').untouched ? '' : 'is-valid' " id="numFactura">
                <input *ngIf="isUpdate" disabled required [(ngModel)]="facturaCompra.numero" formControlName="numero" type="number" class="form-control">
                <div class="mt2 error-box text-danger" *ngIf="formErrors.numero">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.numero }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="fecha">Fecha</label>
                <input type="date" class="form-control" [ngModel]="facturaCompra.fecha" (ngModelChange)="facturaCompra.fecha = $event" formControlName="fecha"
                  [ngClass]="factCompraForm.get('fecha').invalid && this.factCompraForm.get('fecha').touched ? 'is-invalid' : this.factCompraForm.get('fecha').untouched ? '' : 'is-valid' "
                  id="fecha" placeholder="">
                <div class="mt2 error-box text-danger" *ngIf="formErrors.fecha">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.fecha }}
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exenta">Exenta</label>
                <select [hidden]="isUpdate" [(ngModel)]="facturaCompra.exenta" class="form-control" formControlName="exenta" [ngClass]="factCompraForm.get('exenta').invalid && this.factCompraForm.get('exenta').touched ?
                      'is-invalid' : this.factCompraForm.get('exenta').untouched ? '' : 'is-valid' " (change)="changeExenta()">
                  <option value="0">No</option>
                  <option value="1">Si</option>
                </select>
                <input *ngIf="isUpdate" type="text" disabled class="form-control" value="{{ facturaCompra.exenta == 1 ? 'Si' : 'No' }}">
              </div>
            </div>

          </div>

          <div class="row mb-3">
            <!-- DESCRIPCION -->
            <div class="col-md-12">
              <div class="form-group">
                <div class="display-flex justify-between align-center">
                  <label for="descripcion" class="col-form-label">Descripción </label>
                  <small class="text-muted">Opcional</small>
                </div>
                <input type="text" maxlength="100" class="form-control" [(ngModel)]="facturaCompra.descripcion" formControlName="descripcion"
                  [ngClass]="factCompraForm.get('descripcion').invalid && this.factCompraForm.get('descripcion').touched ?
                                        'is-invalid' : this.factCompraForm.get('descripcion').untouched ? '' : 'is-valid' "
                  id="descripcion" placeholder="">
                <div class="mt2 error-box text-danger" *ngIf="formErrors.descripcion">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ formErrors.descripcion }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="col-12">
            <div class="form-group">
              <label class="col-form-label">Proveedor</label>
              <ng-select [ngClass]="factCompraForm.get('proveedor').invalid && this.factCompraForm.get('proveedor').touched ?
                                        'is-invalid' : this.factCompraForm.get('proveedor').untouched ? '' : 'is-valid'"
                [options]="proveedoresOptions" [(ngModel)]="facturaCompra.rut" formControlName="proveedor" (ngModelChange)="getProveedor($event)">
              </ng-select>
            </div>
          </div>
          <div class="col-12 mt-2 mb-2">
            <h5 class="mb-4 mt-4">Información Proveedor</h5>
            <table class="table table-custom-td">
              <tbody>
                <tr>
                  <td><strong>Giro: </strong></td>
                  <td><span class="text-uppercase">{{ facturaCompra.giro }}</span></td>
                </tr>
                <tr>
                  <td><strong>Dirección: </strong></td>
                  <td><span class="text-uppercase">{{ proveedor.direccion }}</span></td>
                </tr>
                <tr>
                  <td><strong>Teléfono: </strong></td>
                  <td><span class="text-uppercase">{{ proveedor.telefono }}</span></td>
                </tr>
                <tr>
                  <td><strong>Email: </strong></td>
                  <td><span class="text-uppercase">{{ proveedor.email }}</span></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </form>
  </section>

  <!-- DETALLE FACTURA -->
  <section class="col-12 border-billing mt-5 mb-5">
    <div class="row">
      <!-- BOTON MODAL ARTICULOS -->
      <div class="col-12 mb-4">
        <section class="p3 display-flex justify-between align-center">
          <h5>Detalle Factura de Compra</h5>
          <div *ngIf="isUpdate" class="error-box text-danger">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> No es posible actualizar los artículos de una factura
            creada, pero si los datos.
          </div>
          <button *ngIf="!isUpdate" type="button" title="Agregar" class="btn btn-outline-success float-right" (click)="LoadAllArticulosModal()">
            <i class="fa fa-cube" aria-hidden="true"></i> Agregar Artículos</button>
        </section>
      </div>
    </div>
    <div class="row">
      <!-- GRILLA ARTICULOS -->
      <section class="col-12 mb2">

        <div *ngIf="isLoadingSearch">
          <mat-spinner class="mx-auto mt-5 mb-5" [color]="primary" [mode]="determinate"></mat-spinner>
        </div>

        <div *ngIf="!isLoadingSearch">

          <ng-container>
            <mat-table #tableDetalleCompra [dataSource]="dataSourceDetalle">

              <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descripcion || element.descripcion_articulo}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="precio_de_compra">
                <mat-header-cell *matHeaderCellDef> Precio Compra</mat-header-cell>
                <mat-cell *matCellDef="let element"> ${{element.precio_de_compra || element.precio | thousands}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="unidades">
                <mat-header-cell *matHeaderCellDef> Unidades </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.unidades | thousands }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="subtotal">
                <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
                <mat-cell *matCellDef="let element"> ${{element.subtotal | thousands}} </mat-cell>
              </ng-container>

              <ng-container *ngIf="!isUpdate" matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a href="javascript:" (click)="deleteArticuloFactura(element)" class="text-muted" data-toggle="tooltip" data-placement="top"
                    title="" data-original-title="Eliminar">
                    <i class="icofont icofont-delete-alt"></i>
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="columnsDetalleFactura"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnsDetalleFactura;" style="border-color: #f8f8f8;"></mat-row>

            </mat-table>

            <mat-paginator #paginatorDetalle [pageSize]="6" [pageSizeOptions]="[6]" [showFirstLastButtons]="true"></mat-paginator>
          </ng-container>

        </div>
      </section>
    </div>
  </section>

  <!-- TOTALES -->
  <section class="col-md-12 mb2 display-flex justify-between align-center">
    <div class="row">
      <div class="col-md-5">
        <!-- SUBTOTAL -->
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend totals-width">
            <span class="bg-primary text-white input-group-text">
              <b>SUBTOTAL</b>
            </span>
          </div>
          <input type="text" [ngModel]="articulosService.formatDecimalToCLP(this.facturaCompra.sub_total)" (ngModelChange)="this.facturaCompra.sub_total=$event"
            disabled class="form-control">
        </div>
        <!-- IVA -->
        <div class="input-group mb-2">
          <div class="input-group-prepend totals-width">
            <span class="bg-primary text-white input-group-text">
              <b>I.V.A</b>
            </span>
          </div>
          <input type="text" [ngModel]="articulosService.formatDecimalToCLP(facturaCompra.iva)" (ngModelChange)="facturaCompra.iva=$event"
            disabled class="form-control">
        </div>
        <!-- TOTAL -->
        <div class="input-group input-group-lg">
          <div class="input-group-prepend totals-width">
            <span class="bg-primary text-white input-group-text">
              <b>TOTAL</b>
            </span>
          </div>
          <input type="text" [ngModel]="articulosService.formatDecimalToCLP(this.facturaCompra.total)" (ngModelChange)="this.facturaCompra.total=$event"
            disabled class="form-control font-weight-bold">
        </div>
      </div>
      <!-- BOTONES SUBMIT -->
      <div class="col-md-7 display-flex flex-column justify-between px5">
        <div *ngIf="isUpdate">
          <button #buttonSubmitUpdate *ngIf="facturaCompra.nula == 0" type="button" title="Actualizar" (click)="onUpdate()" [disabled]="!factCompraForm.valid || getCountArticulosFactura() == 0"
            class="btn btn-success btn-block btn-lg mb4">Actualizar Factura
          </button>
          <div *ngIf="facturaCompra.nula == 1" class="error-box text-center mb-2">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> La factura N° {{ facturaCompra.numero }} se encuentra
            <b>ANULADA</b> y no es posible actualizarla.
          </div>
        </div>
        <button #buttonSubmit *ngIf="!isUpdate" type="button" title="Guardar" (click)="onSubmit()" [disabled]="!factCompraForm.valid || getCountArticulosFactura() == 0"
          class="btn btn-success btn-lg btn-block mb4">Guardar Factura</button>
        <br>
        <button type="button" title="Cancelar" (click)="cancelFromButton()" class="btn btn-outline-secondary mt-1 float-right">Cancelar</button>
      </div>
    </div>
  </section>
</section>

<!-- MODAL ARTICULOS -->
<modal-articulos (send)="getArticulosFromChild($event)" #modalArticulos></modal-articulos>
